<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Dealmoon App By Cecilia</title>

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

    <div class="container"><h1>Hottest Deals on Dealmoon  </h1></div>
    <hr></hr>

    <div id="exTab1" class="container">

        <ul  class="nav nav-pills">
            <li class="active">
            <a  href="#1a" data-toggle="tab">Clothing-Jewelry-Bags</a>
            </li>
            <li><a href="#2a" data-toggle="tab">Beauty</a>
            </li>
            <li><a href="#3a" data-toggle="tab">Health-Personal-Care</a>
            </li>
            <li><a href="#4a" data-toggle="tab">Nutrition-Supplements</a>
            </li>
            <li><a href="#5a" data-toggle="tab">Baby</a>
            </li>
            <li><a href="#6a" data-toggle="tab">Electronics</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                <h3>Content's background color is the same for the tab</h3>
            </div>

            <div class="tab-pane" id="2a">
                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
            </div>

            <div class="tab-pane" id="3a">
                <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
            </div>

            <div class="tab-pane" id="4a">
                <h3>We use css to change the background color of the content to be equal to the tab</h3>
            </div>

            <div class="tab-pane" id="5a">
                <h3>We use css to change the background color of the content to be equal to the tab</h3>
            </div>

            <div class="tab-pane" id="6a">
                <h3>We use css to change the background color of the content to be equal to the tab</h3>
            </div>

        </div>
    </div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</body>
</html>